<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>New Painting</h3>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="paintingName">Name</label>
            <input type="text" class="form-control" id="paintingName" placeholder="Name of the Painting" [(ngModel)]="painting.name" name="name">
          </div>
          <div class="form-group col-md-6">
            <!-- <label for="artistName">Artist</label>
            <input type="text" class="form-control" id="artistName" placeholder="Name of the Artist"> -->
            <label for="artistName">Artist</label>
            <select id="artistName" class="form-control" [(ngModel)]="artist" name="artists">
              <option *ngFor="let artist of artists" value="{{ artist._id }}">{{ artist.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="paintingDescription">Description</label>
          <input type="text" class="form-control" id="paintingDescription" placeholder="Description" [(ngModel)]="painting.description" name="description">
        </div>
        <div class="form-group">
          <label for="pictureLink">Picture Link</label>
          <input type="text" class="form-control" id="pictureLink" placeholder="URL of the picture" [(ngModel)]="painting.picture" name="picture">
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="mrp">MRP</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="fas fa-rupee-sign"></span>
                </span>
              </div>
              <input type="text" class="form-control" id="mrp" [(ngModel)]="painting.mrp" name="mrp">
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="fas fa-rupee-sign"></span>
                </span>
              </div>
              <input type="text" class="form-control" id="price" [(ngModel)]="painting.price" name="price">
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="paintingWidth">Width</label>
            <input type="text" class="form-control" id="paintingWidth" placeholder="Inches" name="width" [(ngModel)]="width" (keyup)="autoFormatPopulate()">
          </div>
          <div class="form-group col-md-1">
              <label for="by">By</label>
              <input type="text" readonly class="form-control" id="by" value="x">
          </div>
          <div class="form-group col-md-2">
            <label for="paintingHeight">Height</label>
            <input type="text" class="form-control" id="paintingHeight" placeholder="Inches" [(ngModel)]="height" name="height" (keyup)="autoFormatPopulate()">
          </div>
          <div class="form-group col-md-3">
            <label for="format">Format</label>
            <select id="format" class="form-control" [(ngModel)]="painting.format" name="format">
              <option value="Landscape">Landscape</option>
              <option value="Portrait">Portrait</option>
              <option value="Square">Square</option>
            </select>
          </div>
        </div>

        <button class="btn btn-outline-success btn-lg float-right" [swal]="['Painting Created!', painting.name, 'success']" (confirm)="createPainting()">Create</button>
      </form>
    </div> <!-- ends col-sm-8 -->

    <div class="col-sm-4">
      <div class="float-right">
        <img src="https://i.imgur.com/8Yq2lyg.jpg" alt="Loading Picture" width="200px">
      </div>
    </div> <!-- ends col-sm-4 -->
  </div>
</div>
