/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
// Flatly
@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/flatly/bootstrap.min.css');
// Lumen
// @import url('https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lumen/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  a:hover {
    text-decoration: none;
  }

  body {
    font-family: !important "Raleway", sans-serif;
    padding: 3em;
    // color: #fff;
    padding: 3em;
  }
}

