
<div class="jumbotron">
  <h1 class="display-4">Paintings from Renaissance</h1>
  <p class="lead">A simple and concise archive from the renaissance.</p>
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->

  <div class="carousel">
    <!-- <input type="checkbox" class="faux-ui-facia"> -->
    <!-- <div class="slide" slide="5" annot="Salvator Mundi by Leonardo Da Vinci">
      <img src="https://i.imgur.com/6AIPZw1.jpg" alt="Slide 5">
    </div> -->

    <ng-container *ngFor="let painting of paintings | slice:0:5; let i=index">
      <input type="checkbox" class="faux-ui-facia">
      <div class="slide" id="{{i + 1}}" title="{{ painting.name }} by {{ painting.artistId.name }}">
        <img src="{{painting.picture}}" alt="Slide {{i + 1}}" height="280px">
      </div>
    </ng-container>
<!--



    <input type="checkbox" class="faux-ui-facia">
    <div class="slide" slide="4" annot="Salvator Mundi by Leonardo Da Vinci">
      <img src="https://i.imgur.com/6AIPZw1.jpg" alt="Slide 4" width="600px">
    </div>

    <input type="checkbox" class="faux-ui-facia">
    <div class="slide" slide="3" annot="This is the third slide title. Photo by Tomasz Paciorek.">
      <img src="https://ununsplash.imgix.net/reserve/JaI1BywIT5Or8Jfmci1E_zakopane.jpg?q=75&fm=jpg&w=600" alt="Slide 3">
    </div>

    <input type="checkbox" class="faux-ui-facia">
    <div class="slide" slide="2" annot="This is the second slide title. Photo by S Charles.">
      <img src="https://ununsplash.imgix.net/uploads/1413387158190559d80f7/6108b580?fit=crop&fm=jpg&q=75&w=600" alt="Slide 2">
    </div>

    <input type="checkbox" class="faux-ui-facia">

    <div class="slide" slide="a" annot="First slide title. Photo by Forrest Cavale.">
      <img src="https://ununsplash.imgix.net/uploads/1413399939678471ea070/2c0343f7?q=75&fm=jpg&w=601" alt="Slide 1">
    </div> -->

    <div class="counter" count="1"> / {{ paintings.length }}</div>

  </div>

  <br><br>
  <div class="text-center">
    <a class="btn btn-primary btn-lg" routerLink="collection" role="button">View Collection</a>
  </div>
</div>
